#map-wrapper {
	background-color: rgba(180, 212, 241, 0);
	width: 1000px;
	height: 450px;
	margin: auto;
	margin-top: 20px;
}

#map {
	width: 1000px;
	height: 450px;
	/* opacity: 1; */
}


main {
  width: 1000px;
  display: block;
  margin: auto;
}

#main-title {
  margin-bottom: 10px;
}

body {
	position: relative;
	background: url(tile_background.jpg) center;
	background-size: auto;
	/* opacity: 0.9; */
}


body:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.267);
	z-index: 2;
}




.inner {
	position: relative;
	z-index: 3;
	color: rgb(15, 15, 15);
	text-align: center;
	padding: 50px;
}