#map-wrapper {
  background-color: rgb(150, 200, 212);
  width: 800px;
  height: 400px;
  margin: auto;
  margin-top: 20px;
}

#map {
	width: 800px;
	height: 400px;
	/* opacity: 1; */
}


main {
  width: 1000px;
  display: block;
  margin: auto;
}

#main-title {
  margin-bottom: 10px;
}

body {
	position: relative;
	background: url(tile_background.jpg) center;
	background-size: auto;
  opacity: 0.9;
}



.inner {
	position: relative;
	z-index: 3;
	color: rgb(15, 15, 15);
	text-align: center;
	padding: 50px;
}