#map-wrapper {
	background-color: rgba(180, 212, 241, 0);
	width: 900px;
	height: 450px;
	margin: auto;
	margin-top: 20px;
}

#map {
	width: 900px;
	height: 450px;
	/* opacity: 1; */
}

body {
	position: relative;
	background: url(tile_background.jpg) center;
	background-size: auto;
	/* opacity: 0.9; */
}


body:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.267);
	z-index: 2;
}


.inner {
	position: relative;
	z-index: 3;
	text-align: center;
	padding: 50px;
}

table, th, tbody {
	color: rgb(12, 12, 12);
	border-color: rgb(7, 7, 7);
}

ul {
    opacity: 0.9;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    opacity: 0.9;
		max-width: 900px !important;
		margin: auto;

}

#ul-data li {
	text-align: left;
	font-size: 18px;
}

#ul-data {
	list-style-type: none;
}