<!doctype html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Все суда</title>
</head>

<body>
  <div class="inner">

    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected>dpp.shlyopa.team</option>
      <option value="1">Болучевских Валерия</option>
      <option value="2">Геллер Виктория</option>
      <option value="3">Лебедева Анна</option>
      <option value="4">Маковецкая Влада</option>
      <option value="5">Чернышков Максим</option>
    </select>


    <main>
      <h1 id="main-title">Все суда</h1>
      <div id="map-wrapper">

      </div>

      <table class="table">
        <thead>
          <tr id="heading">
            {% for i in fields %}
            <th scope="col">{{i}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for i in data %}
          <tr>
            <th scope="row"><a href="/vessel/{{i[0]}}">{{i[0]}}</a></th>
            {% for j in i[1:] %}
            <td>{{j}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav aria-label="..." id="bottom-nav">
        <ul class="pagination justify-content-center">
          {% if page > 1 %}
          <li class="page-item">
            <a class="page-link" href="/">В начало</a>
          </li>
          {% endif %}
          {% if page > 2 %}
          <li class="page-item">
            <a class="page-link" href="/?page={{page - 2}}">{{page - 2}}</a>
          </li>
          {% endif %}
          {% if page > 1 %}
          <li class="page-item">
            <a class="page-link" href="/?page={{page - 1}}">{{page - 1}}</a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="#">{{page}}</a>
          </li>

          {% if page + 1 <= col %}
          <li class="page-item">
            <a class="page-link" href="/?page={{page + 1}}">{{page + 1}}</a>
          </li>
          {% endif %}
          {% if page + 2 <= col %}
          <li class="page-item">
            <a class="page-link" href="/?page={{page + 2}}">{{page + 2}}</a>
          </li>
          {% endif %}
          {% if page < col %}
          <li class="page-item">
            <a class="page-link" href="/?page={{col}}">В конец</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </main>

</body>
</div>

</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
  console.log("{{ col|safe }}")
</script>