<!doctype html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="/static/vessel.css">

  <title>Судно #{{main_data['MMSI']}}</title>
</head>

<body>
  <div class="inner">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">dpp.shlyopa.team</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        </div>
      </div>
    </nav>
    <main>

      <h1>Судно #{{main_data['MMSI']}}</h1>
      <p class="text-left">
      <ul id="ul-data">
        {% for k, v in main_data.items() %}
        <li><b>{{k}}:</b> {{v}}</li>
        {% endfor %}
      </ul>
      </p>


      <div id="map-wrapper">
        <div id="map"></div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">datetime</th>
            <th scope="col">latitude</th>
            <th scope="col">longitude</th>
          </tr>
        </thead>
        <tbody>
          {% for i in data %}
          <tr>
            {% for j in i %}
            <td>{{j}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </main>
  </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=d98bb7d5-adb4-4266-bc47-80e431ac94be&lang=ru_RU"
  type="text/javascript"></script>

<script>
  let d = JSON.parse('{{ js_data|safe }}')
  let lx = d[0][0];
  let ly = d[d.length - 1][0];
  let rx = d[0][1];
  let ry = d[d.length - 1][1];

  function get_zoom(x) {
    x = Math.abs(x);
    if (x <= 0.001)
      return 18;
    if (x <= 0.002)
      return 17;
    if (x <= 0.004)
      return 15;
    if (x <= 0.006)
      return 14;
    if (x <= 0.01)
      return 13;
    if (x <= 0.05)
      return 11;
    if (x <= 0.2)
      return 10;
    if (x <= 0.4)
      return 9;
    if (x <= 0.6)
      return 8;
    if (x <= 0.8)
      return 7;
    if (x <= 1)
      return 6;
    return 5;
  }

  ymaps.ready(init);
  function init() {
    // Создаем карту.
    console.log(Math.abs(lx - ly));
    console.log(get_zoom(lx - ly));
    var myMap = new ymaps.Map("map", {
      center: [(lx + ly) / 2, (rx + ry) / 2],
      zoom: get_zoom(lx - ly)
    }, {
      searchControlProvider: 'yandex#search'
    });

    // Создаем ломаную с помощью вспомогательного класса Polyline.
    var myPolyline = new ymaps.Polyline(d, {
    }, {
      // Задаем опции геообъекта.
      // Отключаем кнопку закрытия балуна.
      balloonCloseButton: false,
      // Цвет линии.
      strokeColor: "#000000",
      // Ширина линии.
      strokeWidth: 4,
      // Коэффициент прозрачности.
      strokeOpacity: 0.5
    });

    // Добавляем линии на карту.
    myMap.geoObjects.add(myPolyline);
  }
</script>